{{ define "main" }}
<main class="main list" role="main">
	{{- with .Title }}
	<header class="main__header">
		<h1 class="main__title">{{ . }}</h1>
	</header>
	{{- end }}
	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}
	{{- range .Paginator.Pages }}
		{{- .Render "summary" }}
	{{- end }}
</main>
{{ partial "pagination.html" . }}
{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "{{ if eq .Kind "taxonomy" }}CollectionPage{{ else }}WebPage{{ end }}",
      "@id": "{{ .Permalink }}",
      "url": "{{ .Permalink }}",
      "name": "{{ .Title }}",
      "isPartOf": {
        "@id": "{{ .Site.BaseURL }}#website"
      },
      "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}"
    },
    {
      "@type": "ItemList",
      "itemListElement": [
        {{ range $index, $element := .Paginator.Pages }}
        {
          "@type": "ListItem",
          "position": {{ add $index 1 }},
          "url": "{{ .Permalink }}",
          "name": "{{ .Title }}"
          {{- with .Description -}}
          ,"description": "{{ . }}"
          {{- end -}}
          {{- with .Params.image -}}
          ,"image": "{{ . | absURL }}"
          {{- end -}}
        }{{ if ne (add $index 1) (len $.Paginator.Pages) }},{{ end }}
        {{ end }}
      ]
    }
  ]
}
</script>
{{ end }}