<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="footer__content">
			<div class="footer__copyright">
				&copy; <a href="http://www.filippodanesi.it" target="_blank">Filippo Danesi</a> &mdash; {{ now.Format "2006" }}. All rights reserved.
			</div>
			<div class="footer__social-links">
				<a href="https://github.com/filippodanesi" target="_blank">Github</a> |
				<a href="https://www.linkedin.com/in/filippodanesi" target="_blank">LinkedIn</a> |
				<a href="https://www.twitter.com/filippodanesi" target="_blank">Twitter</a>
			</div>
		</div>
	</div>
</footer>